.home-page {
    height: 100dvh;
}

.top-nav-bar {
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    padding: 0 20px;

}

.nav-link {
    color: var(--color);
}

.nav-link {
    font-size: 3rem;
}

.nav-header {
    font-size: 2rem;
}

.home-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    width: 100%;
}

.listedStat {
    height: 10%;
    width: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 1.5rem;
    margin: 10px 0;
}

.main-refresh-button {
    background-color: var(--background);
    width: 100%;
    height: 10%;
    border: none;
    color: var(--color);
    margin: 10px 0;

    & span {
        font-size: 3rem;
    }
}